[Unit]
Description=Smart Brightness Daemon
After=network.target video.target systemd-logind.service

[Service]
ExecStart=/usr/bin/smart-brightness
Restart=on-failure
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target default.target
